<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DialysisInsight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DialysisInsight.Properties.Settings>
            <setting name="firstname" serializeAs="String">
                <value />
            </setting>
            <setting name="lastname" serializeAs="String">
                <value />
            </setting>
            <setting name="datebirth" serializeAs="String">
                <value />
            </setting>
            <setting name="conditions" serializeAs="String">
                <value />
            </setting>
            <setting name="province" serializeAs="String">
                <value />
            </setting>
            <setting name="MedicationReminders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oneday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onehour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDataSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Weight" serializeAs="String">
                <value />
            </setting>
            <setting name="HeartRate" serializeAs="String">
                <value />
            </setting>
            <setting name="BloodSugarLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="SYS" serializeAs="String">
                <value />
            </setting>
            <setting name="DIA" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionComplete" serializeAs="String">
                <value />
            </setting>
            <setting name="CompleteSession" serializeAs="String">
                <value />
            </setting>
            <setting name="middlename" serializeAs="String">
                <value />
            </setting>
            <setting name="isHealthDataSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bpmsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mgsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mmsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sessionssave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="completesave" serializeAs="String">
                <value>False</value>
            </setting>
        </DialysisInsight.Properties.Settings>
    </userSettings>
</configuration>